/* index.css for OctoFit Tracker */
body {
  margin: 0;
  padding: 0;
  background: #f0f8ff;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #2b2834;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
